@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Oswald:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    min-width: 1500px;
    font-family: sans-serif;
    box-sizing: border-box;
    background: #f1f1f5;
}

body::-webkit-scrollbar {
    display: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}
